body {
  margin-top: 60px;  /* This should match the height of the navbar */
}

.gestion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: white;
}
