<body>
<div class="contact-container">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="prenom">*Prénom:</label>
      <input id="prenom" formControlName="prenom" type="text" required />
    </div>
    <div>
      <label for="nom">*Nom:</label>
      <input id="nom" formControlName="nom" type="text" required />
    </div>
    <div>
      <label for="age">Âge:</label>
      <input id="age" formControlName="age" type="number" />
    </div>
    <div>
      <label for="hide">Hide Email:</label>
      <input id="hide" type="checkbox" (change)="toggleEmail($event)" />
    </div>
    <div *ngIf="!emailHidden">
      <label for="email">*Email:</label>
      <input id="email" formControlName="email" type="email" required />
    </div>
    <div>
      <label for="commentaire">*Commentaire:</label>
      <textarea id="commentaire" formControlName="commentaire" required></textarea>
    </div>
    <button type="submit" [disabled]="!contactForm.valid">Envoyer</button>
  </form>
</div>
</body>
