header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: darkgreen;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar-nav .nav-item {
  margin-right: 15px;
}

.navbar {
  height: 60px;
}

.nav-link {
  font-size: 18px;
  color: black;
}
